
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* variables */

:root{
    --bg-purple: hsla(267, 100%, 63%, 1);
    --bg-purple-alpha-30: hsla(267, 100%, 63%, 0.3);
    --bg-dark-purple: hsla(279, 42%, 9%, 1);
  
    --gradient-1: linear-gradient(to right bottom, hsl(299, 100%, 52%), hsl(291, 100%, 58%), hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(262, 100%, 63%), hsl(242, 100%, 69%), hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%), hsl(198, 100%, 50%), hsl(192, 100%, 48%), hsl(185, 90%, 48%));
    --gradient-2: linear-gradient(90deg, transparent 0%, #9841ff 50%, transparent 100%);
  
    --text-white: hsla(0, 0%, 100%, 1);
    --text-gainsboro: hsla(0, 0%, 87%, 1);
    --text-purple: hsla(267, 100%, 63%, 1);
  
    --border-space-cadet: hsl(240, 45%, 17%);
    --border-purple-alpha-30: hsla(267, 100%, 63%, 0.3);
  
    --fontSize-1: 3.6rem;
    --fontSize-2: 2.4rem;
    --fontSize-3: 2rem;
    --fontSize-4: 1.7rem;
    --fontSize-5: 1.6rem;
    --fontSize-6: 1.5rem;
    --fontSize-7: 1.4rem;
    --fontSize-8: 1.2rem;
  
    --weight-regular: 400;
    --weight-semiBold: 600;
    --weight-bold: 700;
  
    --section-spacing: 60px;
  
    --shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.2);
  
  
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
  
  }

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

img,
time,
span,
input,
button,
textarea,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea{
  background: none;
  border: none;
  font: inherit;
}

input,
textarea{
  width: 100%;
}

button{
  cursor: pointer;
}

ion-icon {
  pointer-events: none;

}

address {
  font-style: normal;
}

html{
  font-size: 10px;
  scroll-behavior: smooth;
}

body{
  background-color: black;
  background-repeat: repeat;
  color: var(--text-gainsboro);
  font-size: var(--fontSize-4);
  font-weight: var(--weight-regular);
  line-height: 1.6;
  overflow-x: hidden;

}

/* navbar */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    /* background: rgba(0,0,0, .1);
    backdrop-filter: blur(50px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent , rgba(255, 255, 255, .4 ), transparent);
    transition: .5s;

}

.header:hover::after {
    left: 100%;
}
.logo{
    font-size: var(--fontSize-4);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: .5rem;

}

.navbar a{
    font-size: var(--fontSize-6);
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 2.5rem;

}

#check {
    display: none;
}

.icons{
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;

}

/* BREAKPOINTS */

@media (max-width: 992px) {
    .header{
        padding: 1rem 5%;
    }
}

@media (max-width: 768px) {
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }
    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0, .2);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar{
        height: 12.7rem;
    }

    .navbar a {
        display: block;
        font-size: var(--fontSize-8);
        text-align: center;
        margin: 1.5rem 0;
        transform: translateY(-50px);
        transition: .3s ease;
        opacity: 0;

    }

    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc( .15s * var(--i));
        opacity: 1;
    }
}

/* landing page css */

.banner1 ,.banner2 ,.banner3 ,.banner4 {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

img{
    width: 125%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: zoomout 3s linear infinite;
    height: 125%;

}

@keyframes zoomout{
    100%{
        width: 100%;
        height: 100%;
    }
}
.text-box{
    width: 600px;
    position: absolute;
    top: 200px;
    left: 100px;
    color: #fff;
    animation: textup 12s linear infinite;
    transform: translateY(100px);

}
.text-box h1{
    margin-bottom: 10px;
    font-size: var(--fontSize-1);

}

.text-box p{
  font-size: var(--fontSize-7);
  line-height: 18px;
  margin-top: 40px;
  background: rgba(0,0,0, .2);
  backdrop-filter: blur(50px);
  padding: 1rem 1rem;
}


.text-box span{
    background: var(--bg-purple);
    height: 1px;
    width: 200px;
    position: absolute;
    left: 0;
}

.banner1{
    animation: slide1 12s linear infinite;
}
.banner2{
    animation: slide2 12s linear infinite;
}
.banner3{
    animation: slide3 12s linear infinite;
}
.banner4{
    animation: slide4 12s linear infinite;
}

/* animation css */

@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }    
    100%{
        visibility: visible;
    }
}

@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }    
    100%{
        visibility: hidden;
    }
}

@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }    
    100%{
        visibility: hidden;
    }
}

@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }    
    100%{
        visibility: visible;
    }
}

@keyframes textup{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}

.text-box1{
    animation-delay: 0s;
}
.text-box2{
    animation-delay: 3s;
}
.text-box3{
    animation-delay: 6s;
}
.text-box4{
    animation-delay: 9s;
}

/* breakpoints  */

@media (max-width: 730px) {

    .text-box{
        width: 500px;
        top: 200px;
        left: 60px;
    }
    .text-box h1{
        margin-bottom: 10px;
        font-size: var(--fontSize-2);
    
    }
    
    .text-box p{
      font-size: var(--fontSize-8);
      line-height: 18px;
      margin-top: 40px;
    }

}

@media (max-width: 583px) {


    .text-box{
        width: 400px;
        top: 200px;
        left: 30px;
    }
    .text-box h1{
        margin-bottom: 10px;
        font-size: var(--fontSize-2);
    
    }
    
    .text-box p{
      font-size: var(--fontSize-8);
      line-height: 18px;
      margin-top: 40px;
    }


}


@media (max-width: 460px) {

    .text-box{
        width: 300px;
        top: 200px;
        left: 30px;
    }
    .text-box h1{
        margin-bottom: 5px;
        font-size: var(--fontSize-3);
    
    }
    
    .text-box p{
      font-size: var(--fontSize-8);
      line-height: 18px;
      margin-top: 30px;
    }
    img{
        width: 110%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        animation: zoomout 3s linear infinite;
        height: 110%;
    
    }


}